language: elixir

elixir:
  - 1.5
  - 1.6
  - 1.7

otp_release:
  - 20.0
  - 21.0
  
env: MIX_ENV=test

sudo: false # faster builds

notifications:
  email: false

script:
  - mix compile --warnings-as-errors
  - mix test
