# CI workflow to run mix test
#
# Originally copied from https://github.com/actions/starter-workflows/blob/main/ci/elixir.yml commit cd4b67d

name: mix test.watch tests

on:
  push:
    branches:
      - master
  pull_request: {}

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - pair:
              otp: "28"
              elixir: "1.19"
            lint: true
          - pair:
              otp: "27"
              elixir: "1.18"
    steps:
    - uses: actions/checkout@v5

    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.pair.otp}}
        elixir-version: ${{matrix.pair.elixir}}

    - name: Restore dependencies cache
      uses: actions/cache@v4
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-${{ matrix.pair.otp }}-${{ matrix.pair.elixir }}-

    - run: mix deps.get

    - run: mix deps.unlock --check-unused
      if: ${{ matrix.lint }}

    - run: mix deps.compile

    - run: mix compile --warnings-as-errors

    - run: mix test

    - run: mix format --check-formatted
      if: ${{ matrix.lint }}
